@font-face {
    font-family: 'iconfont';  /* Project id 1688017 */
    src: url('//at.alicdn.com/t/font_1688017_m1sdv6kzxhh.woff2?t=1636813036547') format('woff2'),
         url('//at.alicdn.com/t/font_1688017_m1sdv6kzxhh.woff?t=1636813036547') format('woff'),
         url('//at.alicdn.com/t/font_1688017_m1sdv6kzxhh.ttf?t=1636813036547') format('truetype');
  }
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
