@font-face {
    font-family: 'iconfont';  /* Project id 1688017 */
    src: url('//at.alicdn.com/t/font_1688017_ouh43bzddj7.woff2?t=1635090200940') format('woff2'),
         url('//at.alicdn.com/t/font_1688017_ouh43bzddj7.woff?t=1635090200940') format('woff'),
         url('//at.alicdn.com/t/font_1688017_ouh43bzddj7.ttf?t=1635090200940') format('truetype');
  }
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
